html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */

a {
    text-decoration: none;
    color: #000000;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.nombre-sitio {
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
}

.nombre-sitio span {
    color: #b36206;
}



.contenedor-navegacion {
    border-top: 1px solid #afafaf;
}

.navegacion-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
 
.hero {
    background-image: url(../img/principal.png);
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}