html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */

h1, h2, h3 {
    font-family: "Tilt Warp", serif;
    font-weight: 400;
}

h2 {
    padding: 3rem;
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

body {
    font-family: "Nunito", serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #000000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nombre-sitio {
   margin-top: 2.5rem;
   margin-bottom: 2.5rem;
   text-align: center;
   font-size: 6rem;
}

.nombre-sitio span {
    color: #cb7f0c;
}



.contenedor-navegacion {
    border-top: .1rem solid #afafaf;
}

.navegacion-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
 
.hero {
    background-image: url(../img/principal.png);
    height: 48rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Utilidades */
.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}

.btn {
    background-color: #cb7f0c;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 1rem;
    transition: background-color 0.3s ease-out;
    text-align: center;
}

.btn:hover {
    background-color: #9c610a; 
    color: #ffffff;
    transition: background-color 0.1s ease-in-out;
}


/* Categorias */

.categorias h2 {
    text-align: center;
}
.categoria a {
    text-align: center;
    display: block;
    padding: 1.5rem;
    font-size: 2.5rem;
}
.categoria a:hover {
    background-color: #edbf29;
    color: #000000;
    transition: background-color 0.3s ease-in-out;

    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
}


/* bloque nosotros */

.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 40%,
     #f2db8f 55%, #edbf29 70%, #ed8e29 100%), url(../img/nosotros.png);
     background-position: left center;
     padding: 15rem 0rem;
     background-repeat: no-repeat;
     background-size: 100%, 115rem;
}

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 20rem;
}

/* Listado de productos*/

.producto {
    background-color: #f2d349;
}

.texto-producto {
    text-align: center;
    padding: 3rem;
}

.texto-producto h3 {
    margin: 0;
    margin-bottom: 1rem;
}

.texto-producto p {
    margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
    font-size: 3rem;
    font-weight: 900;
}

.texto-producto a {
    background-color: #000000;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 1rem;
    transition: background-color 0.3s ease-out;
}

.texto-producto a:hover {
    background-color: #525252;    
}

.listado-productos {
    display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 2rem;
   row-gap: 2rem;
}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 45rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(2) img, 
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}

/* Footer */

.site-footer {
    border-top: .1rem solid #afafaf;
    margin-top: 5rem;
    padding: 2rem;
}

.site-footer h3 {
    margin-bottom: 2rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.grid-footer h3 {
    font-size: 2.5rem;
}

.footer-menu a {
    display: block;
    line-height: 3rem;
}

.copyright {
    text-align: center;
}

/* Nosotros */

.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr) );
}

.informacion-nosotros {
    display: flex;
    flex-direction: column;
}

/* Blog */

.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada {
    border-bottom: 2px solid #afafaf;
    padding-bottom: 4rem;
}

.entrada:last-of-type {
    border: none;
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
}

.entrada-meta p {
    font-weight: 900;
}

.entrada-meta span {
    color: #cb7f0c;
}

.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}

/* Galeria */

.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}